.add-form {
  height: 80px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .add-form__input {
    font-size: 20px;
    font-weight: 500;

    padding: 10px 20px;
    margin: 5px;
    width: 600px;

    color: #fff;
    border-bottom: 1px solid white;
    background: rgb(25, 26, 28);
  }

  .add-form__btn {
    transition: all 0.3s ease;

    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 5px;

    color: #fff;
    border: 1px solid white;
    background: rgb(25, 26, 28);
    border-radius: 10px;
    &:hover {
      color: rgb(25, 26, 28);
      background: #fff;
    }
  }
}

@media (max-width: 480px) {
  .add-form {
    flex-wrap: wrap;
  }
  .add-form {
    margin-bottom: 50px;
    margin-top: 15px;
  }
}
