.city-cover {
  height: 170px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.city-card {
  color: #fff;
  flex: 0 1 27.11%;
  height: 350px;

  background: rgb(36, 37, 41);
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  @media (max-width: 900px) {
    flex: 0 1 46%;
  }
  @media (max-width: 650px) {
    flex: 0 1 100%;
  }
  .city-card__details {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 10px 20px;

    .city-card__title {
      max-width: 200px;
      font-size: 22px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 650px) {
        font-size: 28px;
      }
      @media (max-width: 450px) {
        font-size: 18px;
      }
    }

    .city-card__info {
      min-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .city-card__data {
        .city-card__temp {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 20px;

          font-weight: 500;
          p {
            margin-right: 10px;
          }
        }
      }
      .city-card__btns {
        margin-top: auto;

        .city-card__remove {
          align-self: flex-start;
          transition: all 0.3s ease;

          font-size: 14px;
          font-weight: 500;
          padding: 10px;
          margin-right: 10px;

          color: #fff;
          border: 1px solid white;
          background: rgb(36, 37, 41);
          border-radius: 10px;
          &:hover {
            background: #fff;
          }
        }
        .city-card__refresh {
          transition: all 0.3s ease;

          font-size: 14px;
          font-weight: 800;
          padding: 10px 15px;

          color: #fff;
          border: 1px solid white;
          background: rgb(36, 37, 41);
          border-radius: 30px;
          &:hover {
            color: rgb(36, 37, 41);
            background: #fff;
          }
        }
      }
    }
    .city-card__weather-icon {
      position: absolute;
      right: 0;
      bottom: -12px;
    }
  }
}
